<h1> Team Names Ordered by the Alphabet</h1>

{{#each data}}
<article>
	<h1 class = "team"> Team Name: {{this.TeamName}}, Total Wins: {{this.TotalWins}} </h1>
	<h2 class="score"> Score: {{this.score}} </h2>
	<h2 class = "location">Location: {{this.location}}, Number of Players: {{this.players}}</h2>
	
	<div class="content">
	    {{{this.summary}}}
	</div>
	<h1 > Stats of Winner: {{Stats }}</h1>
	<hr>
</article>
{{else}}

<article>
    <h1>There are no blog posts yet. :(</h1>
    <a href="/create">Write your first post!</a>
</article>
{{/each}}