{{#if Stats}}
<h2>Recent Posts in {{Stats}}:</h2> 
{{else}}
<h2 id="homeH2">Games Available: </h2> 
{{/if}}

<input id="search" name="search" type="text" placeholder="Search by Team Name">

{{#each data}}
<article class = "dataEntry">
	<h1 class = "team"> Challengers Team Name: {{this.HomeTeamName}} </h1>
	
    <h1 class = "players"> Number of Players Needed: {{this.NumberOfPlayers}} </h1>
   
    <h1 class = "location"> Location: {{this.Location}} </h1>
    <hr>
</article>
{{else}}

<article>
    <h1>There are no blog posts yet. :(</h1>
    <a href="/create" class="buttn">Write your first post!</a>
</article>
{{/each}}

<button type="button" id="createChallenge" onclick = "location.href = '/delete_game';">Accept a Game</button>

<article id="noResults" hidden="hidden">
    <h1>There are No matches</h1>
</article>

<script>
    $(document).ready(function () {
        $("#search").keyup(function () {
            var word = $(this).val().toLowerCase();
            var count = 0;

            $(".dataEntry").each(function (index, element) {
                var teamName = $(element).find(".team").text().toLowerCase();

                if (teamName.search(new RegExp(word, "i")) < 0) {
                    $(this).fadeOut();
                }
                else {
                    $(this).show();
                    count++;
                }
            });

            if (count == 0) { 
                $("#noResults").show();
            }
            else { 
                $("#noResults").hide();
            }
        
        });

    });

</script>

